# Exploring Willy Wonka

### Introduction

Use this notebook to just select the interesting graphs to present to a manager.  It's good to have this before going too deeply, as you may run out of time or go down a rabbit hole if you dig too deeply.  

A good process is to begin by writing down some insights, or initial questions.  And have the graphs below each insight to support them.

In [1]:
from lib import load_data
import pandas as pd

engine, df = load_data()
df[:1]

,order_id,user_id,list_sku,list_sku_category,list_sku_flavor,list_lineitem_id,order_date,month,week,day_of_week,...,order_coupon_code,order_referrer,order_ad_shown,order_store_city,order_store_id,order_day_part,order_is_freeshipping,user_loyalty_program,user_age,user_gender
0,TXN-52889719,USER-16961214,SKU-3002,Energy Bar,Peanut Butter,ITEM-2009089674,2021-05-04,5.0,18.0,2.0,...,express5,Microsoft,week40_10,Dallas,Dallas-3,evening,1,bronze,49,F

In [4]:
from lib import print_grouped_bys, group_and_print

In [6]:

order_cols = ['order_single_item', 'order_date', 'order_id', 'order_item_count']
timing_cols = ['order_day_part', 'order_date']
location_cols = ['order_store_city', 'order_store_id']

### Consumer Insights

### Product Insights

### Marketing Insights