# Exploring Willy Wonka

### Introduction

In this lesson, let's separate out power users from non power users.

### Loading the Data

In [1]:
from lib import load_data
import pandas as pd

engine, df = load_data()
df[:2]

,order_id,user_id,list_sku,list_sku_category,list_sku_flavor,list_lineitem_id,order_date,month,week,day_of_week,...,order_coupon_code,order_referrer,order_ad_shown,order_store_city,order_store_id,order_day_part,order_is_freeshipping,user_loyalty_program,user_age,user_gender
0,TXN-52889719,USER-16961214,SKU-3002,Energy Bar,Peanut Butter,ITEM-2009089674,2021-05-04,5.0,18.0,2.0,...,express5,Microsoft,week40_10,Dallas,Dallas-3,evening,1,bronze,49,F

### Percentile Spend by user

Write a sql query to calculate a running total of the total spend per user.  For example, maybe the top spending user is responsible for .016% of of all sales.  And by the second user we get to .03% spend of all sales, as that second user is responsible for .14% of all sales.

> Write the query below.

In [3]:
query = """
"""
user_percentage_spend = pd.read_sql(query, engine)

user_percentage_spend[:4]

# 	user_id	total_order_value	percentage_spend
# 0	USER-17215538	972.923950	0.000160
# 1	USER-17070511	861.416265	0.000302
# 2	USER-17014986	748.281205	0.000425
# 3	USER-17115875	733.177872	0.000546

         user_id  total_order_value  percentage_spend
0  USER-17215538         972.923950          0.000160
1  USER-17070511         861.416265          0.000302
2  USER-17014986         748.281205          0.000425
3  USER-17115875         733.177872          0.000546

Find the users who account for power users and the percentage that account for non power users.  Power users are the collection of users who account for the top 50% of revenue.  We should see that 17.28% of users account for 50 percent of revenue.

* Power users

In [5]:
power_users = None
power_users.shape

# (17777, 3)

(17777, 3)

In [7]:
power_users.shape[0]/user_percentage_spend.shape[0]

0.1728439474963539

* Core users

In [6]:
core_users = None

core_users.shape

(85073, 3)

### Now select the power users

Then select the lineitems of the powerusers and those of the nonpower_users save them to two different tables -- `poweruser_lineitems` and `nonpower_lineitems`.  When calling `to_sql`, you may have to set `index = False` so that the index does not get stored to the table.

### Now compare power users to core users

Use the `group_and_print` function to quickly do so.  See if there are any differences between the two groups.  

> Unfortunately, there are not too many differences.

Finally write down any insights below.