# Funnel Analysis

### Introduction

A last step in our analysis may be some funnel analysis.  Here we want to try to determine why users do or do not continue on with the customer journey.

### Making initial selections

In [2]:
from sqlalchemy import create_engine
import pandas as pd

def load_data():
    engine = create_engine('postgresql://@localhost:5432/willy_wonka')
    df = pd.read_sql('select * from raw_lineitems', engine)
    return engine, df

engine, df = load_data()

* Finding what leads to repeat purchases

Write a query to select the line item that is the first line item of users who have multiple line items.

In [4]:
query = """

"""
first_for_repurchases_df = pd.read_sql(query, engine)
first_for_repurchases_df[:2]

# user_id	list_sku	list_sku_category	list_sku_flavor	order_coupon_code	order_referrer	order_channel	order_ad_shown	order_is_freeshipping	order_coupon_code	user_loyalty_program	order_value	running_order_count	total_order_count
# 0	USER-16929017	SKU-5018	Low-Carb Bar	Apple Banana	express5	IAC	in_store	week37_ 2	0	express5	silver	10.852917	1	2
# 1	USER-16929034	SKU-5005	Protein Powder	Cookies and Cream	express10	Yahoo!	digital_wholesale	week45_ 5	0	express10	none	7.629942	1	2

,user_id,list_sku,list_sku_category,list_sku_flavor,order_coupon_code,order_referrer,order_channel,order_ad_shown,order_is_freeshipping,order_coupon_code,user_loyalty_program,order_value,running_order_count,total_order_count
0,USER-16929017,SKU-5018,Low-Carb Bar,Apple Banana,express5,IAC,in_store,week37_ 2,0,express5,silver,10.852917,1,2
1,USER-16929034,SKU-5005,Protein Powder,Cookies and Cream,express10,Yahoo!,digital_wholesale,week45_ 5,0,express10,none,7.629942,1,2

> What are some issues with the query above.  What should we do to improve it?

* Finding causes of attrition

Now let's see what may purchase may have caused our users to leave.  Write a query to select the last line item of each user's  purchases.

In [1]:
query = """

"""

last_purchase_df = pd.read_sql(query, engine)

last_purchase_df[:2]

# 	list_sku	list_sku_category	list_sku_flavor	order_value	running_order_count	total_order_count
# 0	SKU-3013	Granola Bar	Peanut Butter	25.450311	1	1
# 1	SKU-3016,SKU-3005	Energy Shot,Energy Drink	Cherry Vanilla,Cookies and Cream	28.593869	1	1

,list_sku,list_sku_category,list_sku_flavor,order_value,running_order_count,total_order_count
0,SKU-3013,Granola Bar,Peanut Butter,25.450311,1,1
1,"SKU-3016,SKU-3005","Energy Shot,Energy Drink","Cherry Vanilla,Cookies and Cream",28.593869,1,1

### Doing analysis

Now that we have selected the relevant line items, now we can group by product features to see the kinds of products that lead to the first purchase, as opposed to those that lead to the last purchase.

Use group and print functions to see the differences in the kinds of products that are associated with more purchases, and to see those that are associated with the last purchase.

### Findings

Write some findings below.